
* { font-family: 'Spoqa Han Sans Neo', 'sans-serif'; }

.a { color:blue;}
.box_wrapper { 
        display:flex;
        height:500px;
        justify-content: center;
        justify-content: space-around;
        padding-left: 100px;
        padding-right: 100px;
}

.bank {box-shadow:
        0 30px 60px 12px rgba(0, 0, 33, 0.05),
        0 4px 24px 0 rgba(0, 0, 33, 0.05),
        0 0 1px 0 rgba(0, 0, 33, 0.09) ;
        height: 70px;        
        width: 360px;
        display:flex;
        justify-content: space-between;  
}

.box_2 { display:flex;
        flex-direction:column;
        justify-content:space-around;
        height:450px;
}

.bank {
        display: flex;
}
.account-detail{
        display: flex; 
        width:170PX;
        align-items:center;
        justify-content:space-between;
        
}

.box_1 {
        width:500px;


}
p {padding-right: 30px;}

img {
        width: 50px;
        height: 50px;

}


