input { background-color:darkgray;
    border-color:lightgrey;
color:white;
width:100px;
height:50px;}
fieldset { background-color:lightgray;
border-color: ghostwhite;
width:500px;
height:500px;
}
*    {font-family: 'Nanum Gothic', sans-serif;}
.all {display:flex;
    flex-direction: column;
    
    height: 1000px;
    width: 1000px;}


textarea {border-color: ghostwhite;}
p {font-size: larger;}