.div-1 {display:flex;
        justify-content: space-between;
        width: 74%;
              }
.div-1-1   {display: flex;
            justify-content:space-between;
            width:120px;}
.all { display:flex;
        flex-direction: column;
       justify-content:space-around;
    width: 1000px;
}

.div-2 {
        
        display:flex;}


.div-2-2 {display:flex;
          width: 650px;
         justify-content: space-around; }


.div-2-3 {display:flex;
         width: 650px;
        justify-content: space-around; }

.div-2-text {display:flex;
            flex-direction: column;
            }
.div-4 { display:flex;
         justify-content: space-around;
        width:80%;   
        padding-left: -3%; }

.div-4-1 {border: 2px solid gray;
        width:46%;
        text-align: center;}
.div-5 {display:flex;
    
        justify-content: space-around;
        width:79%;    
    }
/*.div-5-1 {border-bottom:2px solid black;}
.div-5-2 {border-bottom: 2px solid gray;}*/


.div-7-1 {border-top: 2px gray solid;
          width:80%;
          display:flex;
          justify-content: space-between;}
